<%- include('partials/header.ejs') %>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
        <h3 class="container__h3">Not found</h3>
    </div>
</body>

</html>