body { 
    min-height: 100vh;
    background: url('../assets/Images/david-travis-547046-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.container {
    background-color: rgba(255,255,255,0.3);
    margin: 10vh;
    padding: 10px;
}
.buttons{
    padding:10px;display: inline-block;
}
.tasks{
    width: 20rem; margin: auto;
}
.container__tasks {
    text-align: center;
    margin: 5px;
    display: block;
}

@media only screen and (max-width: 600px) {
    body {
        background: linear-gradient(to left bottom,rgb(85, 98, 212), rgb(211, 75, 204));
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 100vh;
    }
    .container{
        background-color: transparent;
        margin: 5vh;
        padding-top: 10px;
    }
    .tasks{
        width: 15rem; margin: auto;
    }
}